{% extends 'album/base.html' %}

{% block 'content' %}
{% for group in groups %}
    <div class="row">
        <div class="col-12">
            <h3>Grupo {{ group.name }}</h3>
        </div>
        
        {% for team in group.teams.all %}
            <div class="col-md-6">
                <table class="team">
                    <thead>
                        <tr>
                            <th colspan="{{ team.sticker_max }}">{% if team.flag %}&nbsp;<img src="https://flagicons.lipis.dev/flags/4x3/{{team.flag}}.svg" width="20"> {% endif %}{{ team.code }} - {{ team.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for n in team.sticker_range %}
                                <td>{{ n }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for n in team.sticker_range %}
                                <td>
                                    <input class="form-check-input" type="checkbox" data-number="{{ n }}" data-team="{{ team.pk }}" data-tag="{{ team.pk }}_{{ n }}">
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}            
    </div>
{% endfor %}

<style>
    .team {
        margin: 1rem 0;
    }

    .team, .team th, .team td {
        border: 1px solid black;
    }

    .team thead th {
        text-align: left;
        background: black;
        color: white;
    }

    .team td {
        width: 2rem;
        height: 2rem;
        text-align: center;
        vertical-align: center;
    }
</style>
{{ stickers|json_script:"owned_stickers" }}
{% endblock %}

{% block 'extra-js' %}
<script>
    const owned = JSON.parse(document.getElementById('owned_stickers').textContent)
    owned.forEach(s => {
        document.querySelector(`input[type="checkbox"][data-tag="${s}"]`).checked = true;
    });
    const checks = document.querySelectorAll('input[type="checkbox"]');
    checks.forEach(check => {
        check.addEventListener('change', async e => {
            const t = e.target;
            
            if (t.checked) {
                const response = await fetch('/api/add_sticker/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('meta[name="csrf_token"]').content
                    },
                    body: JSON.stringify({team: parseInt(t.dataset.team), number: parseInt(t.dataset.number)})
                });

                const data = await response.json();
            } else {
                const response = await fetch('/api/delete_sticker/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('meta[name="csrf_token"]').content
                    },
                    body: JSON.stringify({team: parseInt(t.dataset.team), number: parseInt(t.dataset.number)})
                });

                const data = await response.json();
            }
        });
    });
</script>
{% endblock %}