{% extends 'album/base.html' %}
{% load static %}

{% block 'doc-title' %}Faltantes - Qatar 2022{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="col-12 d-print-none py-3">
            <button id="printBtn" class="btn btn-success btn-sm"><img src="{% static 'album/images/printer-fill.svg' %}" width="15">Imprimir</button>
        </div>
        
        {% for group in groups %}
            <div class="row group my-3 pb-3">
                <h3>{% if group.name|length|get_digit:"-1" <= 1 %}Grupo {% endif %}{{ group.name }}</h3>
                {% for team in group.teams %}
                    <div class="col-md-6">
                        <h5>{{ team.code }} - {{ team.name }}</h5> 
                        <p class="missing">{% for n in team.missing %}<span class="sticker">{{ n }}</span>{% endfor %}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <style>
        h5 {
            margin: .2rem 0;
        }

        p {
            margin: .2rem 0;
        }

        .missing {
            line-height: 2rem;
        }

        .group {
            position: relative;
            border-bottom: 1px solid black;
        }

        .group h3 {
            transform: rotate(-90deg) translateX(25%);
            width: auto;
            max-width: none;
            position: absolute;
            right: 0;
            top: 50%;
            margin: 0;
            padding: 0;
        }

        .sticker {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: .2rem;
            border: 1px solid black;
            margin: 0 .2rem;
            font-size: .8rem;
        }
        
        .sticker:first-child {
            margin-left: 0
        }

        .sticker:last-child {
            margin-right: 0
        }

        #printBtn img {
            margin-right: .5rem;
        }
    </style>
{% endblock %}

{% block 'extra-js' %}
    <script>
        document.getElementById('printBtn').addEventListener('click', e => {
            window.print();
        });
    </script>
{% endblock %}